body.dark-mode {
  background-color: #333 !important;
  color: #111;
}
body {
  background-color: #32d6ad !important;
}

.app {
  padding: 2em;
  width: clamp(400px, 30%, 100%);
  margin: 3rem auto;
  border-radius: 1em;
  border-radius: 10px;
  background-color: #9cecd8 !important;
  box-shadow: 0.2em 0.5em 1em rgba(28, 125, 101, 0.9);
}
body.dark-mode .app {
  background-color: #999 !important;
  box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.4);
}
.task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.error {
  color: red;
}

.task {
  background-color: #b8f1e3 !important;
  padding: 0.6em 1em 0.1em;
  border-radius: 0.5em;
  border: 1px solid #68a395;
}
body.dark-mode .task {
  background-color: #c4c4c4 !important;
}
