body.dark-mode {
  background-color: #333;
  color: white;
}
body {
  background-color: #e2e2e2;
}

.app {
  padding: 3em;
  width: clamp(400px, 30%, 100%);
  margin: 3rem auto;
  border-radius: 1em;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 8px 32px 0 rgba(0, 1, 11, 0.15);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .app.dark-mode {
  background-color: #c1c1c1;
} */

form input,
form textarea,
form select,
form button {
  display: block;
  margin: 10px 0;
}

.task-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.edit-form {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.error {
  color: red;
}

.dashboard {
  margin: 20px 0;
}

.dark-mode-toggle label {
  display: block;
}
.btn-toggle {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}
